body {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 70%;
  background-color: #dbd7d7;
  border: #0093e9 1px solid;
  border-bottom: none;
  margin: auto;
  margin-bottom: 0%;
  height: 70vh;
  padding: 33px;
  overflow-y: auto;
}

.header {
  text-align: center;
  margin-top: 5vh;
  margin: auto;
  max-width: 70%;
  display: flex;
  color: #dbd7d7;
}

#logo {
  height: 50px;
  width: 50px;
}

.message {
  background-color: white;
  width: 35%;
  padding: 10px;
  margin: 17px 12px;
  border-radius: 10px;
  overflow: hidden;
}

.info {
  background-color: #caad63;
  color: rgb(37, 36, 36);
  text-align: center;
  margin: auto;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
  background-color: #daf8c4;
}

.send {
  max-width: 76%;
  margin: auto;
  display: block;
}

#sender {
  text-align: center;
}

#msgIn {
  width: 85%;
  height: 34px;
  padding-left: 15px;
}

.send-btn {
  cursor: pointer;
  height: 40px;
  width: 120px;
}
